<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magazines</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">



</head>
<body>
<p><a href="/offices">Back Home</a></p>
<br>

<h1>Fashion Runways</h1>
<br>
<div class ="column">
<iframe width="420" height="345" src="https://www.youtube.com/embed/Yhvk0pKPfZw">
</iframe>
<p>Vogue</p>
</div>

<div class ="column">
<iframe width="420" height="345" src="https://www.youtube.com/embed/W6j16bYZNm8">
</iframe>
<p>Elle</p>
</div>

<div class ="column">
<iframe width="420" height="345" src="https://www.youtube.com/embed/HaTHG6cgE7w">
</iframe>
<p>Glamour</p>
</div>


<div class ="column">
<iframe width="420" height="345" src="https://www.youtube.com/embed/WvwWPlrAmMk">
</iframe>
<p>InStyle</p>
</div>


<div class ="column">
<iframe width="420" height="345" src="https://www.youtube.com/embed/AJOWX_t_vu0">
</iframe>
<p>Harper's Bazaar</p>
</div>


<div class ="column">
<iframe width="420" height="345" src="https://www.youtube.com/embed/P9-AZI0OXn8">
</iframe>
<p>Flaunt</p>
</div>


</body>
</html>